*{
    color: cornflowerblue;
    font-family: 'Open Sans', sans-serif;
    background-color: orange;
}

body{
    background-image: url(R.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 0%;
background-size: cover;
background-attachment: fixed;
}
  
.a{
    background-color:blanchedalmond;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

h1{
    text-align: center;
    border-style: double;
    background-color: blanchedalmond;
    font-size: 50px;
}
p{
    color: whitesmoke;
    width: 12cm;
    font-family: 'Roboto', sans-serif;
}
    .bxl-instagram-alt{
   
   font-size: 24px;
}


a{
font-size: 24px;
color: darkgray;
}


.bxl-spotify{ 
    font-size: 24px;
}


.c{
font-size: 24px;
}

li{
    background-color: forestgreen;
    border: 2px solid black;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
